<section id="t-student-list-header">
    <div class="container">
        <div class="t-student-list-header-body">
            <div class="display-4">
                Курс Python

            </div>
        </div>

    </div>
</section>


<section id="t-student-list">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mb-5">
                    <div class="list-group">
                        <div class="list-group-item  list-group-item-secondary"><h5>Список студентов</h5></div>

                        <a href="#" class="list-group-item list-group-item-action ">Элемент основной группы списков</a>
                        <a href="#" class="list-group-item list-group-item-action ">Дополнительный элемент группы списков</a>
                        <a href="#" class="list-group-item list-group-item-action ">Элемент группы списка успешных действий</a>
                        <a href="#" class="list-group-item list-group-item-action ">Элемент группы списка опасности</a>
                        <a href="#" class="list-group-item list-group-item-action ">Элемент группы списка предупреждений</a>
                        <a href="#" class="list-group-item list-group-item-action ">Элемент группы списка информации</a>
                        <a href="#" class="list-group-item list-group-item-action ">Элемент группы с легким списком</a>
                        <a href="#" class="list-group-item list-group-item-action ">Элемент группы темных списков</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
