<section id="homework-chat">
    <div class="row">
        <div class="col-md-3 no_padding-col">
            <div class="chat-homework-list">
                <div class="homework-title-block">
                    <a  href="">
                        <div class='homework-name'>
                            Lorem ipsum dolor ipsum dolor
                            <span class="homework-title-icon">ff</span>
                        </div>
                    </a>
                </div>
                <div class="homework-title-block">
                    <a  href="">
                        <div class='homework-name'>
                            Lorem ipsum dolor Lorem ip
                        </div>
                    </a>
                </div>
                <div class="homework-title-block">
                    <a  href="">
                        <div class='homework-name'>
                            Lorem ipsum dolor Lorem ipsum dolor
                        </div>
                    </a>
                </div>
                <div class="homework-title-block">
                    <a  href="">
                        <div class='homework-name'>
                            Lorem ipsum dolor Lorem ipsum dolor
                        </div>
                    </a>
                </div>
                <div class="homework-title-block">
                    <a  href="">
                        <div class='homework-name'>
                            Lorem ipsum dolor Lorem ipsum dolor
                        </div>
                    </a>
                </div>
                <div class="homework-title-block">
                    <a  href="">
                        <div class='homework-name'>
                            Lorem ipsum dolor Lorem ipsum dolor
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9 no_padding-col">
            <div class="chat-header">
                <div class="chat-header-text">
                    Домашнее задание по программированию
                </div>
            </div>
            <div class="chat-display">
                <div class="message-block">
                    <div class="student-message-block">
                        <div class="mb-3">
                            <span class='message-author-avatar'>;)</span>
                            <span class="message-author-name">Yury Avdeev</span>
                        </div>

                        <div class="message-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut
                            consequatur cumque cupiditate debitis dolor eos laudantium magnam molestiae pariatur perferendis
                            placeat possimus, quo quod repellat vel vitae, voluptates voluptatibus.
                        </div>
                        <span class="message-date">24.11.18</span>

                    </div>
                </div>

            </div>
            <div class="message-form">
            <form>
                <div class="form-row align-items-center">
                    <div class="col-10">
                        <label class="sr-only" for="inlineFormInput">Name</label>
                        <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Jane Doe">
                    </div>
                    <div class="col-button">
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</section>